<div class="my-container">
    <div class="card m-2" style="width: 36rem;">
        <div class="card-body">
            <h5 class="card-title">Side Kammerat</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            <p class="card-text">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
            <p class="card-text">quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="card-text">xcepteur sint occaecat cupidatat non proident,</p>
            <p class="card-text">sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="card m-2" style="width: 36rem;">
        <div class="card-body">
            <h5 class="card-title">Side Kammerat</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            <p class="card-text">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
            <p class="card-text">quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="card-text">xcepteur sint occaecat cupidatat non proident,</p>
            <p class="card-text">sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>